<h1>New Student</h1>

<%= form_for :student, url: students_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :email_address %><br>
    <%= f.text_field :email_address %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

