<style>
  .field_error {
    color: red;
  }
</style>
<div class="center-block col-xs-4" style="float:none">
  <div class="text-center">
    <h1>Join the Challenge!</h1>
  </div>
  <%= form_for :student, url: students_path do |f| %>
    <div class="form-group">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email_address, "Email Address:" %>
      <%= f.text_field :email_address, class: "form-control" %>
      <div class="field_error">
        <%= @student.errors.messages[:email_address][0] %>
      </div>
    </div>

    <%= f.submit 'Sign up' %>
  <% end %>
</div>
