<style type="text/css" media="screen">
  #editor {
    height: 200px;
    position: relative;
  }
</style>

<div class="center-block col-xs-8" style="float:none">
  Hi, <%= @student.name %>

  <%= form_for :student,
    url: student_path,
    method: :put,
    html: { onsubmit: 'putResponseInForm()' } do |f| %>

    <%= f.hidden_field :unique_hash %>
    <%= f.text_area :exercise_response, class: "hidden", id: "exercise_response" %>

    <div id="editor">
public class FibonacciCalculator {

    public Long nthNumber(Integer n) {
        return 1;
    }
}
    </div>
    <%= f.submit 'Submit' %>
  <% end %>
</div>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/chrome");
  editor.getSession().setMode("ace/mode/java");
  function putResponseInForm() {
    document.getElementById("exercise_response").value = editor.getValue();
  }
</script>
