<div class="center-block col-xs-8" style="float:none">
  ID: <%= @exercise.id %></br>
  student: <%= @exercise.student_id %></br>
  State: <%= @exercise.state %></br>
  Begin: <%= @exercise.exercise_begin %></br>
  End: <%= @exercise.exercise_end %></br>
  language: <%= @exercise.language %></br>
  response: <%= @exercise.exercise_response %></br>
</div>

