<style type="text/css" media="screen">
  #editor {
    height: 500px;
    position: relative;
  }
</style>

<div class="center-block col-xs-8" style="float:none">
  <%= render("exercises/intro.html.erb")%>

  <%= form_for :exercise,
    method: :put,
    html: { onsubmit: 'putResponseInForm()' } do |f| %>

    <%= f.hidden_field :id %>
    <%= f.text_area :exercise_response, class: "hidden", id: "exercise_response" %>

    Language: <%= f.select :language,
          options_for_select(@exercise_snippet.keys),
          {},
          onchange: 'updateTemplate(this)' %>
    <div id="editor">
    </div>
    <%= f.submit 'Submit' %>
  <% end %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/chrome");
  editor.getSession().setMode("ace/mode/java");
  editor.$blockScrolling = Infinity

  var changedSnippet = false;
  editor.getSession().on('change', function() {
    changedSnippet = true;
  });

  function putResponseInForm() {
    document.getElementById("exercise_response").value = editor.getValue();
  }

  function updateTemplateWithKey(key) {
    var exercise_snippets = <%= raw(@exercise_snippet.to_json) %>
    var curr_snippet = exercise_snippets[key];
    editor.getSession().setMode(curr_snippet["aceMode"]);
    if (changedSnippet) {
      var overwrite = confirm("Overwrite text with new starter template?");
      if (!overwrite) {
        return;
      }
    }
    editor.setValue(curr_snippet["text"]);
    changedSnippet = false;
    editor.clearSelection()
  }

  function updateTemplate(select) {
    updateTemplateWithKey(select.value);
  }

  $(function initTemplate() {
    updateTemplateWithKey("<%= @exercise_snippet.keys.first %>");
  });
</script>
