<style type="text/css" media="screen">
  #editor {
    height: 200px;
    position: relative;
  }
</style>

<div class="center-block col-xs-8" style="float:none">
  Hi, <%= @student.name %>

  <%= form_for :exercise,
    method: :put,
    html: { onsubmit: 'putResponseInForm()' } do |f| %>

    <%= f.hidden_field :id %>
    <%= f.text_area :exercise_response, class: "hidden", id: "exercise_response" %>

    <%= f.select :language, 
          options_for_select([['Ruby'], ['Java']]),
          {},
          onchange: 'updateTemplate(this)' %>
    <div id="editor">
<%= File.open('app/views/exercises/snippets/exercise.rb').read %>
    </div>
    <%= f.submit 'Submit' %>
  <% end %>
</div>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/chrome");
  editor.getSession().setMode("ace/mode/java");
  function putResponseInForm() {
    document.getElementById("exercise_response").value = editor.getValue();
  }
  function updateTemplate(select) {
    if (select.value === "Ruby") {
    } else if (select.value === "Java") {
    }
    alert(select.val);
  }
</script>
